<!DOCTYPE html>

{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tweet Parra</title>
    <!-- Bootstrap-->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link src="{% static 'css/bootstrap.css.map' %}">
    <link href="{% static 'css/custom/styles.css' %}" rel="stylesheet">
  </head>
  <body>
    {% if form.errors %}
      <p>Tu usuario y contraseña no coinciden, por favor vuelve a intentarlo:</p>
    {% endif %}
    <div class="container-fluid bg-azul1 mb-4">
      <nav class="navbar navbar-expand-lg container justify-content-center"><a class="navbar-brand titulo" href="index.html"> </a>Tweet<br>Parra
        <div class="container-fluid justify-content-center">
          <h3 class="pr-5">B I E N V E N I D O</h3>
        </div>
      </nav>
    </div>
    <div class="container respuestas mt-5 py-4" style="width: 450px;">
      <h4 style="text-align: center;"> Iniciar sesión en TP</h4>
      <form class="d-flex flex-column" style="text-align: center;" method="POST"> 
      {% csrf_token %}
        <form-group>
          <input type="text" class="form-control btn mt-3" placeholder="Usuario" style="width: 250px;" name="username">
        </form-group>
        <form-group>
          <input type="password" class="form-control btn my-3" placeholder="Contraseña" style="width: 250px;" name="password">
        </form-group>
        <form-group>
          <a type="submit" class="btn btn-primary bg-azul3" style="width: 250px; border-radius:5rem;" href="/murogeneral/"> Iniciar sesión</a>
        </form-group>
        <form-group class="mt-3">
          <div class="justify-content-between"></div><span>¿Nuevo en TP?  </span><a href="registrarse">Regístrate ahora</a>
        </form-group>
      </form>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins)-->
    <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed-->
    <script src="{% static 'js/bootstrap.js' %}">   </script>
  </body>
</html>
